
@{
    ViewBag.Title = "Producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="index.html">Mantemiento</a></li>
    <li class="breadcrumb-item active">Productos</li>

</ol>

<div class="card">
    <div class="card-header">
        <i class="fas fa-boxes me-1"></i> Lista de productos
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-success" onclick="abrirModal(null)">Crear Nuevo</button>
            </div>

            <br />
            <br />
            <hr />

            <table id="tabla" class="display cell-border" style="width:100%">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Marca</th>
                        <th>Categoria</th>
                        <th>Precio</th>
                        <th>Stock</th>
                        <th>Activo</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                </tbody>

            </table>

        </div>

    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="FormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-black text-white">
                <h5 class="modal-title" id="exampleModalLabel">Producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="txtid" value="0" />

                <form id="contenedor" class="row">

                    <div class="col-sm-3">
                        <div class="mb-2">
                            <img id="img_producto" height="197" width="200" class="border rouded mx-auto d-block img-fluid" />
                        </div>
                        <div class="mb-2">
                            <input class="form-control" type="file" id="file_prodcuto" accept="image/png, image/jpg, image/jpeg" onchange="" />
                        </div>

                    </div>


                    <div class="col-sm-3">
                        <div class="mb-3">
                            <label class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="txtnombre" name="name" autocomplete="off">
                        </div>
                        <div class="mb-2">
                            <label class="form-label">Descripción</label>
                            <textarea type="text" class="form-control" id="txtdescripcion" name="descripcion" autocomplete="off" style="height:125px;resize:none"></textarea>
                        </div>

                    </div>


                    <div class="col-sm-3">
                        <div class="mb-3">
                            <label class="form-label">Marca</label>
                            <select id="cbomarca" class="form-select">
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Producto</label>
                            <select id="cboproducto" class="form-select">
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Precio</label>
                            <input type="text" class="form-control" id="txtprecio" name="name" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="mb-3">
                            <label class="form-label">Stock</label>
                            <input type="number" class="form-control" id="txtstock" name="stock" autocomplete="off">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Activo</label>
                            <select id="cboactivo" class="form-select">
                                <option value="1">Si</option>
                                <option value="0">No</option>
                            </select>
                        </div>                

                    </div>
                </form>           

                @*Mensaje de alerta*@
                <div class="row mt-2">
                    <div class="alert alert-danger" id="mensajeError" role="alert">
                        A simple danger alert—check it out!
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="Guardar()">Guardar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script>

        var tabladata;
        var filaSeleccionada;

        tabladata = $("#tabla").DataTable({
            responsive: true,
            ordering: false,
            "ajax": {
                url: '@Url.Action("ListarMarcas", "Mantenedor")',
                type: "GET",
                dataType: "json",
            },
            "columns": [
                { "data":"Descripcion"},
                {
                    "data": "Activo", "render": function (valor) {
                        if (valor) {
                            return '<span class="badge bg-success">Si</span>'
                        } else {
                            return '<span class="badge bg-danger">No</span>'
                        }
                    }

                },
                {
                    "defaultContent": ' <button type="button" class="btn btn-primary btn-sm btn-editar"><i class="fas fa-pen"></i></button>' +
                        ' <button type="button" class="btn btn-danger btn-sm btn-eliminar"><i class="fas fa-trash"></i></button>',
                    "orderable": false,
                    "searchable": false,
                    "width":"90px"
                }

            ],
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.13.3/i18n/es-ES.json"
            }



        });

        function abrirModal(json) {
            $("#txtid").val(0);
            $("#txtdescripcion").val("");
            $("#cboactivo").val(1);

            $("#mensajeError").hide();



            if (json != null) {
                $("#txtid").val(json.IdMarca);
                $("#txtdescripcion").val(json.Descripcion);
                $("#cboactivo").val(json.Activo == true ? 1 : 0);
            }
            $("#FormModal").modal("show")
        }

        $("#tabla tbody").on("click", '.btn-editar', function () {

            filaSeleccionada = $(this).closest("tr");
            var data = tabladata.row(filaSeleccionada).data();
            console.log(data)
            abrirModal(data);

        })


        $("#tabla tbody").on("click", '.btn-eliminar', function () {




            var usuarioseleccionado = $(this).closest("tr");
            var data = tabladata.row(usuarioseleccionado).data();
            console.log(data)

            swal({
                title: "Estas Seguro?",
                text: "¿Desea eliminar la marca?",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-primary",
                confirmButtonText: "si",
                cancelButtonText: "No",
                closeOnConfirm: true
            },
                function () {

                    jQuery.ajax({

                        url: '@Url.Action("EliminarMarcas", "Mantenedor")',
                        type: "POST",
                        data: JSON.stringify({ id: data.IdMarca }),
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {

                            if (data.resultado) {

                                tabladata.row(usuarioseleccionado).remove().draw();
                            } else {

                                swal("No se pudo eliminar",data.mensaje,"error")
                            }

                        },
                        error: function (error) {

                        }



                    });






                 });
        })

        function Guardar() {

            var Marca = {
                IdMarca: $("#txtid").val(),
                Activo: $("#cboactivo").val()==1?true:false,
                Descripcion: $("#txtdescripcion").val(),
            }
            console.log(Marca)
            jQuery.ajax({

                url: '@Url.Action("GuardarMarcas", "Mantenedor")',
                type: "POST",
                data: JSON.stringify({ objeto: Marca }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    $(".modal-body").LoadingOverlay("hide");

                    //USUARIO NUEVO
                    if (Marca.IdMarca == 0) {

                        if (data.resultado != 0) {
                            Marca.IdMarca = data.resultado;
                            tabladata.row.add(Marca).draw(false);
                            $("#FormModal").modal("hide");
                        } else {
                            $("#mensajeError").text(data.mensaje);
                            $("#mensajeError").show();

                        }

                    //USUARIO EDITAR
                    } else {

                        if (data.resultado) {
                            tabladata.row(filaSeleccionada).data(Marca);
                            filaSeleccionada = null;
                            $("#FormModal").modal("hide");
                        } else {
                            $("#mensajeError").text(data.mensaje);
                            $("#mensajeError").show();

                        }



                    }

                },
                error: function (error) {
                    $(".modal-body").LoadingOverlay("hide");
                    $("#mensajeError").text(error);
                    $("#mensajeError").show();
                },
                beforeSend: function () {

                    $(".modal-body").LoadingOverlay("show", {
                        imageResizeFactor: 2,
                        text: "Cargando...",
                        size: 14
                    });

                }


            });

        }

    </script>




}




